In [2]:
import pandas as pd
import numpy as np

In [3]:
file_name = "data_file/data_02.2024.xlsx"

def load_data(file, sheet):
    
    data = pd.read_excel(file_name, sheet_name=sheet)
    
    return data

In [4]:
df_load = load_data(file_name, "P_RD")

In [5]:
df_izm = load_data(file_name, "IZM")

In [6]:
df_izm["Дата изменения (план)"] = pd.to_datetime(df_izm["Дата изменения (план)"])
df_izm_group = df_izm.groupby([pd.Grouper(key = "Дата изменения (факт)", freq = "M")]).aggregate({"Кол-во листов по разделам":"sum"}).reset_index()
df_sheet_group = df_load.groupby([pd.Grouper(key = "Срок выдачи (факт)", freq = "M")]).aggregate({"Кол-во листов":"sum"}).reset_index()
df_izm_group = df_izm_group.rename(columns={"Дата изменения (факт)":"Дата"})
df_sheet_group = df_sheet_group.rename(columns={"Срок выдачи (факт)":"Дата"})

In [7]:
df_sheet_group

         Дата  Кол-во листов
0  2023-01-31           2712
1  2023-02-28           7940
2  2023-03-31           9365
3  2023-04-30           4833
4  2023-05-31           7330
5  2023-06-30           4172
6  2023-07-31           9360
7  2023-08-31          10807
8  2023-09-30           5669
9  2023-10-31           8172
10 2023-11-30           5964
11 2023-12-31          10903

In [8]:
df_sheet_group["Кол-во листов"].max()

10903

In [17]:
total_master_izm = df_sheet_group.merge(df_izm_group, how='outer')
total_master_izm["% изм"] = total_master_izm["Кол-во листов по разделам"] / total_master_izm["Кол-во листов"]
total_master_izm = total_master_izm.fillna(0)
total_master_izm = total_master_izm.replace({np.inf:0})

In [18]:
total_master_izm

         Дата  Кол-во листов  Кол-во листов по разделам     % изм
0  2023-01-31           2712                         37  0.013643
1  2023-02-28           7940                        225  0.028338
2  2023-03-31           9365                       1164  0.124293
3  2023-04-30           4833                        543  0.112353
4  2023-05-31           7330                        599  0.081719
5  2023-06-30           4172                        274  0.065676
6  2023-07-31           9360                        435  0.046474
7  2023-08-31          10807                        725  0.067086
8  2023-09-30           5669                        599  0.105662
9  2023-10-31           8172                        365  0.044665
10 2023-11-30           5964                        325  0.054494
11 2023-12-31          10903                          4  0.000367